body{
    background-color: lightblue;
}
h1{
    color: orange;  
}
.box{
    background-color: pink;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    border: 1px solid orange;
    


}